In [1]:
import pandas as pd
import seaborn as sns

In [3]:
fev = pd.read_excel("https://docs.google.com/spreadsheets/d/1MDRRsmVGKMjlo1yAmpmiFYBzOwWnpTOnvTTPz9a4aIs/export?output=csv#gid=543409681")

In [4]:
fev.head()

   age    fev  height  sex  smoker
0    9  1.708    57.0    0       0
1    8  1.724    67.5    0       0
2    7  1.720    54.5    0       0
3    9  1.558    53.0    1       0
4    9  1.895    57.0    1       0

In [ ]:
fev.